body {
  font-family: 'Questrial', sans-serif;
}

.white-text {
  color: #FFF;
}

.dark-text {
  color: rgb(80, 80, 80);
}

.title {
  font-size: 1.5em;
  /* margin-bottom: 1em; */
}

.size {
  font-size: 1.3em;
}

.white-w {
  background-color: #FFFAFA;
}

.bg-carmesi {
  background-color:#DC143C;
}

.bd-carmesi {
  border: 2px solid #DC143C;
}

.carmesi {
  color: #DC143C;
}

/* fin clases reutilizables*/

img.logo {
  width: 1.9em;
  height: 1.9em;
}

section {
  padding: 2em;
}

.bg-header {
  background-image: url('../assets/images/tech.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

nav {
  background-color: transparent;
}

.container-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
	padding: 2em;
}

.container-flex-row {
  display: flex;
	justify-content: space-around;
}

.vh80 {
  height: 80vh;
}

/* about me */


/* portfolio */

#portfolio {
  background-image: url('../assets/images/space.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

/* contact-me */

.mb5 {
  margin-bottom: 5em;
}

footer {
  padding-top: 3em;
}



.footer-dark {
  background-color: rgb(53, 50, 50);
  padding: 0.5vh 0;
}

/* prueba */

#about-me {
  /* background-color: #FFFAFA; */
}

@media (min-width: 768px) {

  img.logo {
    width: 2em;
    height: 2em;
  }

  .title {
    font-size: 2em;
    margin-bottom: 1em;
  }

  section {
    height: 100vh;
    padding: 3em;
  }

  #portfolio {
    height: 100vh;
  }
}